In [10]:
import psycopg2


# Connecting to database 
conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)
cur = conn.cursor()

Using sqlalchemy

In [6]:
#import pandas as pd 
#import sqlalchemy
#engine = 'postgres+psycopg2://postgres:shanaya@localhost:5432/netflix'

#df = pd.read_sql_table("movie",engine,columns =['type','title'])

## Creating Tables

Movie table creation

In [10]:
cur.execute("""CREATE TABLE movie(
        movie_id INTEGER PRIMARY KEY,
        title VARCHAR,
        type VARCHAR,
        runtime INTEGER,
        box_office INTEGER,
        netflix_release_date DATE,
        rating VARCHAR,
        awards INTEGER
        country VARCHAR,
        year NUMERIC,
        language_id integer REFERENCES language,
        genre_id INTEGER REFERENCES genre
) 
""")
conn.commit()

In [1]:
import psycopg2



def create_tables():
    """ create tables in the PostgreSQL database"""
    commands = (
        """
        CREATE TABLE IF NOT EXISTS movie(
            movie_id INTEGER PRIMARY KEY,
            title VARCHAR,
            type VARCHAR,
            runtime INTEGER,
            box_office INTEGER,
            netflix_release_date DATE,
            rating VARCHAR,
            awards INTEGER,
            country VARCHAR
        )
        """,
        """ 
        CREATE TABLE IF NOT EXISTS director(
            director_id INTEGER  PRIMARY KEY,
            first_name VARCHAR,
            last_name VARCHAR
            )
        """,
        """
      CREATE TABLE IF NOT EXISTS genre(
            genre_id INTEGER Primary Key,
            genre VARCHAR 
        )
        """,
        """
        CREATE TABLE IF NOT EXISTS language(
            language_id integer PRIMARY KEY,
            language VARCHAR 
        )
        """,
        """
        CREATE TABLE IF NOT EXISTS movie_director(
            movie_id INTEGER REFERENCES movie,
            director_id INTEGER REFERENCES director
   
        )
      """,
      """
      CREATE TABLE movie_genre(
           movie_id INTEGER REFERENCES movie,
           genre_id INTEGER REFERENCES genre,
           title VARCHAR
   
     )
    """,
    """
     CREATE TABLE movie_language(
          movie_id integer REFERENCES movie ,
          language_id integer REFERENCES language,
          title VARCHAR 
   )
   """)
    
    conn = None
    try:
        # read the connection parameters
        # connect to the PostgreSQL server
        conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
        )
        cur = conn.cursor()
       
        # create table one by one
        for command in commands:
            cur.execute(command)
        # close communication with the PostgreSQL database server
        cur.close()
        # commit the changes
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            conn.close()


if __name__ == '__main__':
    create_tables()

In [ ]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_file.csv', 'r') as f:
    cur.copy_from(f, 'movie', sep=',')

conn.commit()

In [4]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('director_file.csv', 'r') as f:
    cur.copy_from(f, 'director', sep=',')

conn.commit()

In [5]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('genre_file.csv', 'r') as f:
    cur.copy_from(f, 'genre', sep=',')

conn.commit()

In [6]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('language_file.csv', 'r') as f:
    cur.copy_from(f, 'language', sep=',')

conn.commit()

In [7]:
    import psycopg2

    conn = psycopg2.connect(
               host="localhost",
               dbname= "netflix",
               user="postgres",
               password="shanaya"
    )

    cur = conn.cursor()

    with open('movie_director.csv', 'r') as f:
        cur.copy_from(f, 'movie_director', sep=',')

    conn.commit()

In [8]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_genre.csv', 'r') as f:
    cur.copy_from(f, 'movie_genre', sep=',')

conn.commit()

In [9]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_language.csv', 'r') as f:
    cur.copy_from(f, 'movie_language', sep=',')

conn.commit()

In [2]:
cur.execute("""
DROP TABLE movie
""")
conn.commit()

Director table creation

In [24]:
cur.execute("""CREATE TABLE director(
    director_id INTEGER  PRIMARY KEY,
    first_name VARCHAR,
    last_name VARCHAR
)
""")
conn.commit()

In [3]:
cur.execute("""
DROP TABLE director
""")
conn.commit()

Genre table creation

In [35]:
cur.execute("""CREATE TABLE genre(
       genre_id INTEGER Primary Key,
       genre VARCHAR 
)
""")
conn.commit()

#CREATE TABLE IF NOT EXISTS myschema.mytable (i integer);

In [4]:
cur.execute("""
DROP TABLE genre
""")
conn.commit()

Creating language table

In [39]:
cur.execute("""CREATE TABLE language(
    language_id integer PRIMARY KEY,
    language VARCHAR 
)
""")
conn.commit()

In [5]:
cur.execute("""
DROP TABLE language
""")
conn.commit()

In [12]:
cur.execute("""CREATE TABLE movie_language(
    movie_id integer,
    language_id integer,
    title VARCHAR 
)
""")
conn.commit()

In [6]:
cur.execute("""CREATE TABLE movie_genre(
    movie_id INTEGER,
    genre_id INTEGER,
    title VARCHAR
   
)
""")
conn.commit()

In [6]:
cur.execute("""
DROP TABLE movie_genre
""")
conn.commit()

In [42]:
cur.execute("""CREATE TABLE movie_director(
    movie_id INTEGER REFERENCES movie,
    director_id INTEGER REFERENCES director
   
)
""")
conn.commit()

In [7]:
cur.execute("""
DROP TABLE movie_director
""")
conn.commit()

In [8]:
cur.execute("""
DROP TABLE movie_language
""")
conn.commit()

Retrieving data

In [19]:
import psycopg2


# Connecting to database 
conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)


cur = conn.cursor()
cur.execute("SELECT * from movie")
one = cur.fetchone()
all = cur.fetchall()
conn.commit()

## Loading data from csv

Loading data for movie table

In [27]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_file.csv', 'r') as f:
    cur.copy_from(f, 'movie', sep=',')

conn.commit()

Loading data for director table

In [29]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('director_file.csv', 'r') as f:
    cur.copy_from(f, 'director', sep=',')

conn.commit()

In [36]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('genre_file.csv', 'r') as f:
    cur.copy_from(f, 'genre', sep=',')

conn.commit()

In [9]:
cur.execute("""
DROP TABLE director
""")
conn.commit()

In [7]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_genre.csv', 'r') as f:
    cur.copy_from(f, 'movie_genre', sep=',')

conn.commit()

uploading movie_director

In [3]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_director.csv', 'r') as f:
    cur.copy_from(f, 'movie_director', sep=',')

conn.commit()

In [40]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('language_file.csv', 'r') as f:
    cur.copy_from(f, 'language', sep=',')

conn.commit()

In [13]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_language.csv', 'r') as f:
    cur.copy_from(f, 'movie_language', sep=',')

conn.commit()

In [67]:
netflix_df = pd.read_excel('netflix_file_final.xlsx')
netflix_df

,Movie Id,Title,Genre,Tags,Languages,Series or Movie,Runtime,Director,Director_id,Writer,Actors,View Rating,Awards Received,Awards Nominated For,Boxoffice,Netflix Release Date
0,1,HOW TO BUILD A GIRL,Comedy,"Dramas,Comedies,Films Based on Books,British",English,Movie,1-2 hour,Coky Giedroyc,1,Caitlin Moran,"Paddy Considine, Cleo, Beanie Feldstein, Dónal...",R,1.0,NaN,70632.0,2021-03-04
1,2,Snowroller,Comedy,"Sports Movies,Sports Comedies,Comedies,Swedish...",Swedish,Movie,1-2 hour,Lasse Åberg,2,"Lasse Åberg, Bo Jonsson","Jon Skolmen, Cecilia Walton, Lasse Åberg, Eva ...",NaN,NaN,NaN,NaN,2021-03-03
2,3,The Closet,Comedy,"Korean Movies,Horror Movies,Mysteries",French,Movie,1-2 hour,Francis Veber,3,Francis Veber,"Gérard Depardieu, Michèle Laroque, Daniel Aute...",R,1.0,1.0,6678894.0,2021-03-01
3,4,5 Minute,Comedy,"Social Issue Dramas,Dramas,LGBTQ Movies,Indepe...",English,Movie,1-2 hour,Dan Chisu,4,NaN,Jeff Lewis,NaN,NaN,3.0,NaN,2021-03-01
4,5,All of Us,Comedy,"Belgian Movies,Dramas,Documentary Films",English,Movie,1-2 hour,Willem Wallyn,5,"Jada Pinkett Smith, Will Smith, Betsy Borns","Duane Martin, Khamani Griffin, LisaRaye McCoy,...",NaN,NaN,12.0,NaN,2021-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99,1939,Drama,"Swedish Movies,Dramas",Swedish,Movie,> 2 hrs,Göran Carmback,91,"Catti Edfeldt, Kjell Sundstedt, Brasse Brännström","Helene Egelund, Ingvar Hirdwall, Per Morberg, ...",NaN,NaN,NaN,NaN,2021-03-03
99,100,Repast,Drama,"Dramas,Movies Based on Books,Japanese Movies,C...",Japanese,Movie,1-2 hour,Mikio Naruse,92,"Sumie Tanaka, Yasunari Kawabata, Fumiko Hayash...","Yukiko Shimazaki, Setsuko Hara, Ken Uehara, Yô...",NaN,9.0,NaN,NaN,2021-03-01
100,101,When a Woman Ascends the Stairs,Drama,"Social Issue Dramas,Dramas,Japanese Movies,Cla...",Japanese,Movie,1-2 hour,Mikio Naruse,92,Ryûzô Kikushima,"Hideko Takamine, Tatsuya Nakadai, Masayuki Mor...",NaN,NaN,NaN,NaN,2021-03-01
101,102,Yearning,Drama,"Romantic Dramas,Dramas,Romantic Movies,Japanes...",Japanese,Movie,1-2 hour,Mikio Naruse,92,"Zenzô Matsuyama, Mikio Naruse","Hideko Takamine, Yumi Shirakawa, Mitsuko Kusab...",NaN,1.0,NaN,NaN,2021-03-01
102,103,Ginza Cosmetics,Drama,"Dramas,Movies Based on Books,Japanese Movies,C...",Japanese,Movie,1-2 hour,Mikio Naruse,92,"Matsuo Kishi, Tomoichirô Inoue","Yûji Hori, Kyôko Kagawa, Ranko Hanai, Kinuyo T...",NaN,NaN,NaN,NaN,2021-03-01

In [68]:
netflix_df.dtypes

Movie Id                         int64
Title                           object
Genre                           object
Tags                            object
Languages                       object
Series or Movie                 object
Runtime                         object
Director                        object
Director_id                      int64
Writer                          object
Actors                          object
View Rating                     object
Awards Received                float64
Awards Nominated For           float64
Boxoffice                      float64
Netflix Release Date    datetime64[ns]
dtype: object

Inspecting shape

In [69]:
netflix_df.shape

(103, 16)

Removing spaces in column names

In [70]:
netflix_df.columns = netflix_df.columns.str.replace(' ', '')

In [71]:
netflix_df

,MovieId,Title,Genre,Tags,Languages,SeriesorMovie,Runtime,Director,Director_id,Writer,Actors,ViewRating,AwardsReceived,AwardsNominatedFor,Boxoffice,NetflixReleaseDate
0,1,HOW TO BUILD A GIRL,Comedy,"Dramas,Comedies,Films Based on Books,British",English,Movie,1-2 hour,Coky Giedroyc,1,Caitlin Moran,"Paddy Considine, Cleo, Beanie Feldstein, Dónal...",R,1.0,NaN,70632.0,2021-03-04
1,2,Snowroller,Comedy,"Sports Movies,Sports Comedies,Comedies,Swedish...",Swedish,Movie,1-2 hour,Lasse Åberg,2,"Lasse Åberg, Bo Jonsson","Jon Skolmen, Cecilia Walton, Lasse Åberg, Eva ...",NaN,NaN,NaN,NaN,2021-03-03
2,3,The Closet,Comedy,"Korean Movies,Horror Movies,Mysteries",French,Movie,1-2 hour,Francis Veber,3,Francis Veber,"Gérard Depardieu, Michèle Laroque, Daniel Aute...",R,1.0,1.0,6678894.0,2021-03-01
3,4,5 Minute,Comedy,"Social Issue Dramas,Dramas,LGBTQ Movies,Indepe...",English,Movie,1-2 hour,Dan Chisu,4,NaN,Jeff Lewis,NaN,NaN,3.0,NaN,2021-03-01
4,5,All of Us,Comedy,"Belgian Movies,Dramas,Documentary Films",English,Movie,1-2 hour,Willem Wallyn,5,"Jada Pinkett Smith, Will Smith, Betsy Borns","Duane Martin, Khamani Griffin, LisaRaye McCoy,...",NaN,NaN,12.0,NaN,2021-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,99,1939,Drama,"Swedish Movies,Dramas",Swedish,Movie,> 2 hrs,Göran Carmback,91,"Catti Edfeldt, Kjell Sundstedt, Brasse Brännström","Helene Egelund, Ingvar Hirdwall, Per Morberg, ...",NaN,NaN,NaN,NaN,2021-03-03
99,100,Repast,Drama,"Dramas,Movies Based on Books,Japanese Movies,C...",Japanese,Movie,1-2 hour,Mikio Naruse,92,"Sumie Tanaka, Yasunari Kawabata, Fumiko Hayash...","Yukiko Shimazaki, Setsuko Hara, Ken Uehara, Yô...",NaN,9.0,NaN,NaN,2021-03-01
100,101,When a Woman Ascends the Stairs,Drama,"Social Issue Dramas,Dramas,Japanese Movies,Cla...",Japanese,Movie,1-2 hour,Mikio Naruse,92,Ryûzô Kikushima,"Hideko Takamine, Tatsuya Nakadai, Masayuki Mor...",NaN,NaN,NaN,NaN,2021-03-01
101,102,Yearning,Drama,"Romantic Dramas,Dramas,Romantic Movies,Japanes...",Japanese,Movie,1-2 hour,Mikio Naruse,92,"Zenzô Matsuyama, Mikio Naruse","Hideko Takamine, Yumi Shirakawa, Mitsuko Kusab...",NaN,1.0,NaN,NaN,2021-03-01
102,103,Ginza Cosmetics,Drama,"Dramas,Movies Based on Books,Japanese Movies,C...",Japanese,Movie,1-2 hour,Mikio Naruse,92,"Matsuo Kishi, Tomoichirô Inoue","Yûji Hori, Kyôko Kagawa, Ranko Hanai, Kinuyo T...",NaN,NaN,NaN,NaN,2021-03-01

In [72]:
netflix_df['Runtime'].value_counts()

1-2 hour         61
< 30 minutes     32
> 2 hrs           8
1-2 hour          1
30-60 mins        1
Name: Runtime, dtype: int64

Converting to datetime

In [73]:
netflix_df['NetflixReleaseDate'] = pd.to_datetime(netflix_df['NetflixReleaseDate'])
netflix_df.dtypes

MovieId                        int64
Title                         object
Genre                         object
Tags                          object
Languages                     object
SeriesorMovie                 object
Runtime                       object
Director                      object
Director_id                    int64
Writer                        object
Actors                        object
ViewRating                    object
AwardsReceived               float64
AwardsNominatedFor           float64
Boxoffice                    float64
NetflixReleaseDate    datetime64[ns]
dtype: object

Checking for nulls

In [74]:
netflix_df.isnull().mean() * 100

MovieId                0.000000
Title                  0.000000
Genre                  0.000000
Tags                   0.000000
Languages              0.000000
SeriesorMovie          0.000000
Runtime                0.000000
Director               0.000000
Director_id            0.000000
Writer                38.834951
Actors                 5.825243
ViewRating            78.640777
AwardsReceived        78.640777
AwardsNominatedFor    75.728155
Boxoffice             95.145631
NetflixReleaseDate     0.000000
dtype: float64

In [75]:
netflix_df['Languages'].value_counts()

English        43
Japanese       12
Swedish         5
Polish          4
Spanish         4
Turkish         3
Dutch           3
French          3
Thai            2
Czech           2
Portuguese      2
Arabic          2
German          2
Hindi           2
Mandarin        2
Italian         1
Indonesian      1
Hebrew          1
Russian         1
 Vietnamese     1
Uzbek           1
Korean          1
 Swedish        1
Cantonese       1
Tagalog         1
 French         1
Telugu          1
Name: Languages, dtype: int64

In [76]:
import numpy as np

netflix_df['ViewRating'] = np.where(netflix_df['ViewRating'].isnull(),'Unrated',netflix_df['ViewRating'] )

In [77]:
netflix_df.isnull().mean() * 100

MovieId                0.000000
Title                  0.000000
Genre                  0.000000
Tags                   0.000000
Languages              0.000000
SeriesorMovie          0.000000
Runtime                0.000000
Director               0.000000
Director_id            0.000000
Writer                38.834951
Actors                 5.825243
ViewRating             0.000000
AwardsReceived        78.640777
AwardsNominatedFor    75.728155
Boxoffice             95.145631
NetflixReleaseDate     0.000000
dtype: float64

In [78]:
netflix_df['ViewRating'].value_counts()

Unrated    83
R           5
TV-14       3
PG          2
TV-G        2
TV-MA       2
TV-PG       2
PG-13       2
TV-Y        1
TV-Y7       1
Name: ViewRating, dtype: int64

In [79]:
netflix_df['AwardsReceived'] = np.where(netflix_df['AwardsReceived'].isnull(),0,netflix_df['AwardsReceived'] )

In [80]:
netflix_df.isnull().mean() * 100

MovieId                0.000000
Title                  0.000000
Genre                  0.000000
Tags                   0.000000
Languages              0.000000
SeriesorMovie          0.000000
Runtime                0.000000
Director               0.000000
Director_id            0.000000
Writer                38.834951
Actors                 5.825243
ViewRating             0.000000
AwardsReceived         0.000000
AwardsNominatedFor    75.728155
Boxoffice             95.145631
NetflixReleaseDate     0.000000
dtype: float64

In [88]:
netflix_df['AwardsReceived'].astype('int')

0      1
1      0
2      1
3      0
4      0
      ..
98     0
99     9
100    0
101    1
102    0
Name: AwardsReceived, Length: 103, dtype: int32

In [89]:
netflix_df.dtypes

MovieId                        int64
Title                         object
Genre                         object
Tags                          object
Languages                     object
SeriesorMovie                 object
Runtime                       object
Director                      object
Director_id                    int64
Writer                        object
Actors                        object
ViewRating                    object
AwardsReceived               float64
AwardsNominatedFor           float64
Boxoffice                    float64
NetflixReleaseDate    datetime64[ns]
dtype: object

In [85]:
netflix_df['AwardsNominatedFor'] = np.where(netflix_df['AwardsNominatedFor'].isnull(),0,netflix_df['AwardsNominatedFor'] )

In [90]:
netflix_df.isnull().mean() * 100

MovieId                0.000000
Title                  0.000000
Genre                  0.000000
Tags                   0.000000
Languages              0.000000
SeriesorMovie          0.000000
Runtime                0.000000
Director               0.000000
Director_id            0.000000
Writer                38.834951
Actors                 5.825243
ViewRating             0.000000
AwardsReceived         0.000000
AwardsNominatedFor     0.000000
Boxoffice             95.145631
NetflixReleaseDate     0.000000
dtype: float64

In [91]:
netflix_df['Boxoffice'] = np.where(netflix_df['Boxoffice'].isnull(),0,netflix_df['Boxoffice'] )

In [92]:
netflix_df.isnull().mean() * 100

MovieId                0.000000
Title                  0.000000
Genre                  0.000000
Tags                   0.000000
Languages              0.000000
SeriesorMovie          0.000000
Runtime                0.000000
Director               0.000000
Director_id            0.000000
Writer                38.834951
Actors                 5.825243
ViewRating             0.000000
AwardsReceived         0.000000
AwardsNominatedFor     0.000000
Boxoffice              0.000000
NetflixReleaseDate     0.000000
dtype: float64

In [93]:
netflix_df.dtypes

MovieId                        int64
Title                         object
Genre                         object
Tags                          object
Languages                     object
SeriesorMovie                 object
Runtime                       object
Director                      object
Director_id                    int64
Writer                        object
Actors                        object
ViewRating                    object
AwardsReceived               float64
AwardsNominatedFor           float64
Boxoffice                    float64
NetflixReleaseDate    datetime64[ns]
dtype: object