Establishing the connection

In [44]:
import psycopg2


# Connecting to database 
conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)
cur = conn.cursor()

In [45]:
cur.execute("""
    DROP TABLE director
""")
conn.commit()

In [47]:
cur.execute("""
DROP TABLE movie 
""")
conn.commit()

In [46]:
cur.execute("""
   DROP TABLE genre
""")
conn.commit()

In [10]:
cur.execute("""CREATE TABLE movie(
        movie_id integer PRIMARY KEY,
        title VARCHAR,
        type VARCHAR,
        runtime INTEGER,
        box_office NUMERIC,
        netflix_release_date DATE
) 
""")
conn.commit()

In [17]:
cur.execute("""
ALTER TABLE movie
ALTER COLUMN box_office TYPE INTEGER
""")
conn.commit()

In [ ]:
cur.execute("""
ALTER TABLE genre
ALTER COLUMN genre_id TYPE VARCHAR
""")
conn.commit()

In [29]:
cur.execute("""CREATE TABLE director(
    director_id integer PRIMARY KEY,
    director_fname text,
    director_lname text
)
""")
conn.commit()

In [37]:
#cur.execute("""CREATE TABLE movie(
    #movie_id integer PRIMARY KEY,
    #title VARCHAR,
    #type VARCHAR,
   # runtime VARCHAR,
   # box_office NUMERIC,
   # netflix_release_date DATE,
   # tags VARCHAR
#)
#""")
#conn.commit()

In [40]:
cur.execute("""CREATE TABLE genre(
    movie_id integer,
    genre_id integer Primary Key,
    genre VARCHAR 
)
""")
conn.commit()

DuplicateTable: relation "genre" already exists

In [41]:
cur.execute("""
ALTER TABLE genre
ALTER COLUMN genre_id TYPE VARCHAR
""")
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [42]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('genre_file_final.csv', 'r') as f:
    cur.copy_from(f, 'genre', sep=',')

conn.commit()

InvalidTextRepresentation: invalid input syntax for type integer: "Genre_1"
CONTEXT:  COPY genre, line 1, column genre_id: "Genre_1"

In [55]:
#cur.execute("""
#ALTER TABLE movie
#ALTER COLUMN box_office TYPE VARCHAR
#""")
#conn.commit()

In [19]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_file.csv', 'r') as f:
    cur.copy_from(f, 'movie', sep=',')

conn.commit()

InvalidTextRepresentation: invalid input syntax for type integer: ""
CONTEXT:  COPY movie, line 2, column box_office: ""

In [30]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('director_file_final.csv', 'r') as f:
    cur.copy_from(f, 'director', sep=',')

conn.commit()