In [55]:
import psycopg2


# Connecting to database 
conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)
cur = conn.cursor()

## Creating Tables

Movie table creation

In [69]:
cur.execute("""CREATE TABLE movie(
        movie_id integer PRIMARY KEY,
        title VARCHAR,
        type VARCHAR,
        runtime INTEGER,
        box_office INTEGER,
        netflix_release_date DATE
) 
""")
conn.commit()

In [68]:
cur.execute("""
DROP TABLE movie
""")
conn.commit()

Director table creation

In [57]:
cur.execute("""CREATE TABLE director(
    director_id INTEGER  PRIMARY KEY,
    first_name VARCHAR,
    last_name VARCHAR
)
""")
conn.commit()

In [56]:
cur.execute("""
DROP TABLE director
""")
conn.commit()

Genre table creation

In [28]:
cur.execute("""CREATE TABLE genre(
       genre_id INTEGER Primary Key,
       genre VARCHAR 
)
""")
conn.commit()

In [27]:
cur.execute("""
DROP TABLE genre
""")
conn.commit()

Creating language table

In [6]:
cur.execute("""CREATE TABLE language(
    language_id integer PRIMARY KEY,
    language VARCHAR 
)
""")
conn.commit()

In [65]:
cur.execute("""CREATE TABLE movie_language(
    movie_id integer,
    language_id integer,
    title VARCHAR 
)
""")
conn.commit()

In [34]:
cur.execute("""CREATE TABLE movie_genre(
    movie_id INTEGER,
    genre_id INTEGER,
    title VARCHAR
   
)
""")
conn.commit()

In [33]:
cur.execute("""
DROP TABLE movie_genre
""")
conn.commit()

In [60]:
cur.execute("""CREATE TABLE movie_director(
    movie_id INTEGER,
    director_id INTEGER
   
)
""")
conn.commit()

## Loading data from csv

Loading data for movie table

In [70]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_file.csv', 'r') as f:
    cur.copy_from(f, 'movie', sep=',')

conn.commit()

Loading data for director table

In [59]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('dir_final.csv', 'r') as f:
    cur.copy_from(f, 'director', sep=',')

conn.commit()

In [29]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('genre_final_1.csv', 'r') as f:
    cur.copy_from(f, 'genre', sep=',')

conn.commit()

In [9]:
cur.execute("""
DROP TABLE director
""")
conn.commit()

In [36]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('genre_file_final_.csv', 'r') as f:
    cur.copy_from(f, 'movie_genre', sep=',')

conn.commit()

In [62]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_dir_final.csv', 'r') as f:
    cur.copy_from(f, 'movie_director', sep=',')

conn.commit()

In [64]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('language_file.csv', 'r') as f:
    cur.copy_from(f, 'language', sep=',')

conn.commit()

In [67]:
import psycopg2

conn = psycopg2.connect(
           host="localhost",
           dbname= "netflix",
           user="postgres",
           password="shanaya"
)

cur = conn.cursor()

with open('movie_lang_final.csv', 'r') as f:
    cur.copy_from(f, 'movie_language', sep=',')

conn.commit()